@import 'colors.scss';

.center-h {
    margin: 0 auto !important;
}

.center-v {
    margin: auto 0 !important;
}

.center-h-v {
    margin: auto !important;
}

.separator {
    flex: 0 0 auto;
    height: inherit !important;
    width: 3px;
    background-color: $light-gray;
}

.fix-width {
    max-width: max-content;
    min-width: max-content;
}

@media (max-width: 576px) {
    .hide-sm {
        display: none;
    }
}

@media (max-width: 768px) {
    .hide-md {
        display: none;
    }
}

@media (max-width: 992px) {
    .hide-lg {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hide-xl {
        display: none;
    }
}

.text-break {
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}