@import '../../../../styles.scss';

.post-container {
    border: 2px solid $light-gray;
    background-color: $default-gray;
    color: $light-gray;
    border-radius: 0.6rem;

    /*** TODO ***/
    min-height: 100px;
    /***********/

    .post-media-container {
        max-height: 500px;
        overflow-y: hidden;
    }

    .post-media {
        width: 100%;
    }

    .test-margin {
        margin-left: 100px;
    }

    .image-media {
        cursor: pointer;
    }
    
}