.post-container {
    border: 1px solid #b1b1b1;
    border-radius: 0.5rem;
}

.post-media-container {
    max-height: 300px;
    overflow-y: hidden;
}

.post-media {
    max-width: 100%;
}

.test-margin {
    margin-left: 100px;
}