<div class="row post-container m-2">

    <button (click)="showContent()">show</button>

    <div class="col-2">
        test col 1
    </div>

    <div class="col">
        <p>{{postData.url}}</p>
        <p>{{mediaType}}</p>

        <div *ngIf="controls.open" #iframeContainer [hidden]="controls.isHiddenContent">
            <div>
                <iframe [src]="safeUrl" frameborder='0' scrolling='no' [width]="iframeWidth" [height]="iframeHeight"
                    allowfullscreen [attr.allow]="allow" class="post-media"></iframe>
            </div>
        </div>

    </div>

    <div class="col-2">
        test col 3
    </div>

</div>